.staticrypt-hr {
            margin-top: 20px;
            margin-bottom: 20px;
            border: 0;
            border-top: 1px solid #eee;
        }

.staticrypt-page {
    width: 500px;
    padding: 8% 0 0;
    margin: auto;
    box-sizing: border-box;
    margin-left: 750px;
    margin-top: 100px;
        
}

.staticrypt-form {
            position: relative;
            z-index: 1;
            background: #FFFFFF;
            width: 100%;
            margin: 0 auto 100px;
            padding: 45px;
            text-align: center;
            border-radius: 10px;
          
        }

.staticrypt-form input {
            outline: 0;
            background: white;
            width: 100%;
            border: solid;
            border-width: thin;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }

.staticrypt-form .staticrypt-decrypt-button {
            outline: 0;
            background: #6D95B7;
            width: 50%;
            border: 0;
            padding: 15px;
            font-size: 14px;
            color: white;
            cursor: pointer;
            margin-top: 20px;
            font-weight: 500;
            border-radius: 10px;
        }

.staticrypt-form .staticrypt-decrypt-button:hover, .staticrypt-form .staticrypt-decrypt-button:active, .staticrypt-form .staticrypt-decrypt-button:focus {
            color: #6D95B7;
            background: white;
            border: solid;
            border-color: #6D95B7;
            border-width: thin;
    
    
}
.staticrypt-form .stati-crypt-decrypt-button:hover {
        background: #6D95B7;
        
    
    }

.staticrypt-html {
            height: 100%;
            font-family: 'Montserrat', sans-serif;

        }

.staticrypt-body {
            margin-bottom: 1em;
            background: #F0A160 ;
            font-family: 'Montserrat', sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

.staticrypt-instructions {
            text-align: left;
        }

#instructions {
            line-height: 1.6
    
        }
        
a:link {
        color: black;
            }

.staticrypt-title {
            font-size: 1.5em;
            text-align: center;
            font-weight: 600;
        }

.staticrypt-footer {
            position: absolute;
            height: 20px;
            font-size: 20px;
            font-weight: 500; 
            color: white;
            padding: 2px;
            bottom: 100px;
            left: -20px;
            right: 10px;
            margin-bottom: 0;
        }

.staticrypt-footer p {
            text-align: left;
            color: white;
        }
.staticrypt-footer a:link {
            text-decoration: none;
        }


#back-arrow {
    transform: scale(.3,.3) translate(230px,-170px);
    
}

.pull-left:hover {
    color:  #C05050;
}       

        

@media screen and (min-width:2560px) {
    .staticrypt-page {
        width: 700px;
        margin-left: 1000px;
        margin-top: 200px;

    }
    
    #back-arrow {
        transform: scale(.3,.3) translate(260px, -260px);
    }

    
}

@media screen and (max-width:1440px) and (orientation:landscape) {
    .staticrypt-page {
        width: 480px;
        margin-left: 550px;
    }
    
      #back-arrow {
        transform: scale(.3,.3) translate(180px, -100px);
    }
    
}

@media screen and (max-width:1280px) and (orientation:landscape) {
     .staticrypt-page {
        width: 450px;
        margin-left: 500px;
        margin-top: 50px;
    }
    .staticrypt-title {
        font-size: 18px;
    }
    .staticrypt-instructions {
        font-size: 14px;
    }
    
    .staticrypt-footer {
        font-size: 12px;
    }
    .staticrypt-form .staticrypt-decrypt-button {
        font-size: 12px;
    }
}

@media screen and (max-width:1199.98px) and (orientation:landscape) {
    .staticrypt-page {
        width: 600px;
        margin-left: 350px;
        margin-top: -50px; 
        margin-bottom: 0px;
    }
    .staticrypt-footer {
        bottom: 0;
            
        }
    .staticrypt-form {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    
    .staticrypt-body {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    
     #back-arrow {
        transform: scale(.3,.3) translate(170px, -90px);
    }

    
}

@media screen and (max-width:991.98px) and (orientation:landscape) {
    .staticrypt-page {
        width: 450px;
        margin-left: 310px;
    }
    
    .pull-left {
        margin-top:-5px;
    }
    
    #back-arrow {
        transform: scale(.35,.35) translate(120px, -70px);
    }
    
    .staticrypt-title {
        font-size: 17px;
    }
    
    .staticrypt-instructions {
        font-size: 13px;
    }
    
    
    .staticrypt-form .staticrypt-decrypt-button {
        width: 45%;
        font-size: 11px;
    }
    
}

@media screen and (max-width:767.98px) and (orientation:landscape) {
    .staticrypt-page {
        width: 400px;
        margin-left: 220px;
        margin-top: 100px;
    }
    
    .staticrypt-form {
        padding: 25px;
    }
    
     .staticrypt-title {
        font-size: 16px;
    }
    .staticrypt-instructions {
        font-size: 12px;
    }
    
    .staticrypt-form .staticrypt-decrypt-button {
        font-size: 10px;
    }
    .staticrypt-form input {
        padding: 10px;
    }
    
    
     #back-arrow {
        transform: scale(.25,.25) translate(240px, -190px);
    }
    
}

@media screen and (max-width:575.98px) and (orientation:landscape) {
     .staticrypt-page {
        width: 320px;
        margin-left: 130px;
        margin-top: 10px;
        
    }
    
    .pull-left {
        font-size: 11px;
        margin-top: -10px;
    }
    
      #back-arrow {
        transform: scale(.4,.4) translate(100px, -93px);
    }
    
    
}



@media screen and (max-width:1199.98px) and (orientation:portrait) {
     .staticrypt-page {
        width: 600px;
        margin-left: 350px;
        margin-top: -50px; 
        margin-bottom: 0px;
    }
    .staticrypt-footer {
        bottom: 0;
            
        }
    .staticrypt-form {
        margin-bottom: 0px;
        margin-top: 300px;
    }
    
    .staticrypt-body {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    
     #back-arrow {
        transform: scale(.4,.4) translate(100px, -50px);
    }
    
    
}


@media screen and (max-width:1024px) and (orientation:portrait) {
    .staticrypt-page {
        margin-left: 220px;
        margin-top: 120px;
       
    }
}


@media screen and (max-width:991.98px) and (orientation:portrait) {
    .staticrypt-page {
        width: 450px;
        margin-left: 310px;
        margin-top: -100px
    }
    
    .pull-left {
        margin-top:-8px;
        font-size: 15px;
    }
    
    #back-arrow {
        transform: scale(.35,.35) translate(120px, -70px);
    }
    
    .staticrypt-title {
        font-size: 17px;
    }
    
    .staticrypt-instructions {
        font-size: 13px;
    }
    
    
    .staticrypt-form .staticrypt-decrypt-button {
        width: 45%;
        font-size: 11px;
    }
    
    
    
    
}

@media screen and (max-width:768px) and (orientation:portrait) {
    .staticrypt-page {
        margin-left: 200px;
    }
    
}

@media screen and (max-width:767.98px) and (orientation:portrait) {
     .staticrypt-page {
        width: 400px;
        margin-left: 190px;
        margin-top: -100px;
    }
    
    .staticrypt-form {
        margin-bottom: 0px;
        padding: 20px;
    }
    
     .staticrypt-title {
        font-size: 16px;
    }
    .staticrypt-instructions {
        font-size: 12px;
    }
    
    .staticrypt-form .staticrypt-decrypt-button {
        font-size: 10px;
    }
    .staticrypt-form input {
        padding: 10px;
    }
    
    
     #back-arrow {
        transform: scale(.25,.25) translate(240px, -190px);
    }
    .pull-left {
        font-size: 15px;
        margin-top: -6px;
    }
    
    
}

@media screen and (max-width:575.98px) and (orientation:portrait) {
     .staticrypt-page {
        width: 320px;
        margin-left: 130px;
        margin-top: -150px;
    }
    
    .pull-left {
        font-size: 11px;
        margin-top: -10px;
    }
    
    #back-arrow {
        transform: scale(.4,.4) translate(100px, -93px);
    }
    
    
    }

@media screen and (max-width:475px) and (orientation:portrait) {
    .staticrypt-page {
        margin-left: 80px;
        margin-top: -300px;
    }
    
    .pull-left {
        margin-top: -16px;
    }
    
    .staticrypt-form {
        padding: 30px;
    }
    
}

@media screen and (max-width:414px) and (orientation:portrait) {
    .staticrypt-page {
        margin-top: -200px;
    }
}

@media screen and (max-width:375px) and (orientation:portrait) {
    .staticrypt-page {
        width: 300px;
        margin-left: 35px;
        margin-top: -200px;
    }
    .pull-left {
        margin-top: -24px;
    }
    
}




